 <form class="form-horizontal row">
     <div class="col-md-12">
         <label for="input" id="inputLabel" class="control-label"><h1 id="inputH1">What show are you in the mood for?</h1></label>
     </div>
    <div class="form-group col-md-12">
        <input class="form-control" id="showInput" rows="10" />
        <br>
        <br>
        <a href="javascript:void(0)" id="fetchShowBtn" class="btn btn-danger btn-lg btn-raised">Submit</a>
    </div>
</form>